<lachen-navbar creation-date="main.creationDate"></lachen-navbar>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-border panel-primary">
                    <div class="panel-heading">
                        <br/>
                        <h1>Regular Expressions</h1>
                        <p class="panel-sub-title font-13 text-muted">by Admin - 16 May 2017</p>
                        <span class="label label-danger">AngularJS</span>
                        <span class="label label-success">HTML5</span>
                        <span class="label label-info">CSS</span>
                    </div>
                    <br/><br/>
                    <div class="panel-body" style="word-wrap: break-word;">
                        <p><span class="dropcap text-primary">R</span>egular Expressions คิดว่าหลายๆคนคงได้ยินหรือรู้จักมาบ้าง แต่จะมีซักกี่คนที่ได้ใช้มันจริงๆจังๆ รวมถึงตัวผมเองด้วย นานๆจะใช้ที ซึ่งจะใช้งานแต่ละครั้งก็ต้องมานั่งเปิด Cheat Sheet ทุกครั้ง
                        วันนี้ก็เลยจะมาเขียนและสรุปเกี่ยวกับไอ้เจ้า Regular Expressions ไว้ เผื่อจะมีประโยชน์กับคนอื่นบ้าง ซึ่งไม่เกี่ยวเลยว่าคุณจะเขียนภาษาอะไรมาก็ตามก็สามารถใช้ Regular Expressions ได้หมด อาจต่างกันบ้างนิดหน่อยตามแต่ละภาษา แต่ concept นั้นเหมือนกัน
                        </p> 
                        <br/><pre>[A-Za-z]</pre>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!-- Footer -->
        <footer class="footer text-right">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        2017 © Lachen Dev.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
</div>